/*
--------------------------------------Примеры построения таблицы--------------------------------------

Применяется ко всем тегам в документе с названием "название_тега" вне зависимости от его вложенности.

название_тега {
   свойство: значение;
}

Применяется ко всем тегам вложенным в тег "название_тега" с названием "название_вложенного_тега".

название_тега название_волженного_тега {
    свойство: значение;
}

Применяется ко всем тегам в документе класса "название_класса" вне зависимости от его вложенности.

.название_класса {
    свойство: значение;
}

Применяется ко всем тегам вложенным в тег класса "название_класса" с названием "название_вложенного_тега".

.название_класса навзание_вложенного_тега {
    свойство: значение;
}

Применяется ко всем тегам/тегам класса при наведении указателя мыши на его отображение.
link: https://developer.mozilla.org/ru/docs/Web/CSS/:hover

название_тега/.название_класса:hover {
    свойство: значение;
}

Все необходимые наименования свойств стилей можно найти в интернете по соответствующим запросам.
Допустим нам надо сделать так, чтоб ссылка не была синей и подчеркнутой - гуглим "убрать стандартное оформление ссылки css".
Чуть ли не самой первой ссылкой натыкаемся на необходимую страничку со соф https://ru.stackoverflow.com/questions/548287/%d0%9a%d0%b0%d0%ba-%d1%83-%d1%82%d0%b5%d0%b3%d0%b0-a-%d1%83%d0%b1%d1%80%d0%b0%d1%82%d1%8c-%d0%b2%d0%b8%d0%b7%d1%83%d0%b0%d0%bb%d1%8c%d0%bd%d1%8b%d0%b5-%d1%8d%d1%84%d1%84%d0%b5%d0%ba%d1%82%d1%8b

Так что никогда не упускайте из виду самый важный инструмент ГУГОЛ!!!
*/

body {
    margin: 0;  /*Внешний отступ элемента*/
    padding: 0; /*Внутренний отступ элемента*/

    height: 100vh; /*Высота элемента*/

    background-color: antiquewhite; /*Цвет заднего фона элемента*/

    text-align: center; /*Выравнивание текста внутрни элемента*/
}

header {
    height: 50px;
    width: 100%; /*Ширина элемента*/
    background-color: red;
}

header a {
    font-size: 30px; /*Рамер шрифта внутри элемента*/
    margin: 10px;
    text-decoration: none; /*Любые изменения текста элемента*/
    color: darkgreen; /*Цвет текста элемента*/
}

main {
    background-color: blue;
}

main_case {
    padding: 50px 25px 75px 25px;
    width: 800px;
    background-color: yellow;
}

p {
    text-indent: 50px; /*Абзацный отступ текста элемента*/
    text-align: justify;
}

ul {
    text-align: left;
}

table {
    border-collapse: collapse;
    border: 3px solid blueviolet; /*Параметры обводки элемента*/
}

th, td {border: 1px solid;}

.flex_parent_center {
    display: flex;
    justify-content: center;
}

.flex_parent_column {
    display: flex;
    flex-direction: column;
}
